<style>
    .order-container {
        background-color: white;
    }
    .address-box {
        border: 1px solid black;
        padding: 0.5em;
    }
    .search-btn {
        background-color: #442ea6;
        width: 100%;
        padding: 0.5em 1em;
        color: white;
        border: none;
        font-size: 1em;
    }
    #order_list {
        color: #828282;
    }
</style>