<style>
    .body {
        font-family: 'Fira Sans', sans-serif;
        max-height: 100vh;
    }
    #left-section {
        background-color: #5032b1 !important;
    }
    .login-logo {
        font-size: 4em;
    }
    .login-input {
        border: none;
        border-bottom: 2px solid black;
        width: 100%;
        color: black;
        font-size: 1.2em;
        padding-bottom: 0.5em;
        padding-top: 0.5em;
    }
    .login-input::placeholder {
        color: black;
    }
    .login-button {
        background-color: #e15eaa;
        border: none;
        font-size: 1.5em;
        color: white;
        padding: 0.3em 1em;
        border-radius: 2em;
        box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.5);
    }
    .inputWithIcon {
        position: relative;
    }
    .inputWithIcon i {
        position: absolute;
        right: 10;
        top: 8px;
        padding: 14px 14px;
        color: #aaa;
        transition: 0.3s;
    }
</style>