<style>
    .left-section {
        background-color: white;
        box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.5);
    }
    .right-section {
        background-color: white;
        box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.5);
    }
    .order-input {
        width: 100%;
        padding: 0.5em;
        color: #828282;
        border: 1px solid #828282;
    }
    .order-input::placeholder {
        color: #828282;
    }
    .product-img {
        border-radius: 1em;
        box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.5);
    }
    .order-btn {
        background-color: #442ea6;
        width: 100%;
        padding: 1em;
        color: white;
        border: none;
        font-size: 1.5em;
    }
    .address-btn {
        background-color: #442ea6;
        width: 100%;
        padding: 1em;
        color: white;
        border: none;
        font-size: 1em;
    }
    .addresses input[type=radio] {
        display: none
    }
    .addresses label {
        border: 1px solid black;
        padding: 1em;
        background-color: white;
        width: 100%;
    }
    .addresses input[type=radio]:checked+label {
        border: 3px solid #442ea6;
        background-color: #fafafa;
        width: 100%;
    }
</style>