<style>
    #help_box {
        margin-top: 10em;
        max-width: 80vw;
        box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.5);
    }
    .help-title {
        background-color: #442ea6;
    }
    .help-input {
        width: 100%;
        padding: 0.5em 1em;
        border: none;
        border-radius: 0.5em;
    }
    .help-input::placeholder {
        color: gray;
    }
    .attach-btn {
        background-color: #442ea6;
        border: none;
        padding: 0.5em 1em;
        font-weight: 900;
    }
    #attachment {
        display: none;
    }
    .submit-btn {
        background-color: #442ea6;
        border: none;
        padding: 0.5em 1em;
        font-weight: 900;
        width: 50%;
        font-size: 1.5em;
    }
</style>